<div class="card post-content" *ngFor="let blogCard of blogCardList">
    <div class="row no-gutters">
        <div class="col-md-4" style="background: #868e96;">
            <img src="/assets/images/blog-1.jpg" class="card-img-top h-100" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body ">
                <div class="w-col w-col-8 w-col-medium-8">
                    <a href="/posts/cafe-au-lait-turkish-doppio-ristretto">
                        <h4 class="blog-title">Wherever far wow thus a squirrel raccoon jeez jaguar
                            this from along</h4>
                    </a>
                    <div class="details-wrapper">
                        <div class="post-info">September 8, 2016</div>
                        <div class="post-info">|</div><a class="post-info when-link"
                            href="/categories/art">Art</a>
                    </div>
                    <div class="post-summary-wrapper">
                        <p class="post-summary">The copy warned the Little Blind Text, that where it
                            came from it would have been rewritten a thousand times and everything
                            that was left from its origin would be the word "and" and the Little
                            Blind</p>
                    </div>
                    <button type="button" class="btn btn-primary">Read More  <i class="fa fa-arrow-circle-right "></i></button>
                  
                </div>
            </div>
        </div>
    </div>
</div>
