.post-card {
    width: 100%;
}

.b-b-1 {
    border-bottom: 1px solid rgb(235, 235, 235);
}

.post-wrapper {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
}



.blog-image {
    display: block;
    height: 180px;
    margin-right: 20px;
    border-radius: 3px;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}

.blog-image:hover {
    opacity: 0.8;
}

.post-content {
    padding: 10px;
}

.post-summary-wrapper {
    padding: 0 0 10px 0;
}

.post-summary {
    display: inline;
    color: rgb(83, 82, 82);
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}

.entry-meta {
    margin: 0px 0 10px;
}

.entry-meta ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.entry-meta ul li {
    display: inline-block;
    margin-right: 10px;
}

.entry-meta ul li i {
    margin-right: 5px;
}

.entry-meta ul li:last-child {
    margin-right: 0px;
}

.entry-meta ul li, .entry-meta ul li i, .entry-meta ul li a {
    color: #898989;
    text-transform: capitalize;
}

.entry-meta ul li a:hover {
    color: #222;
}
.details-wrapper{
    margin-top: 10px;
    font-size: 13px;
}

.blog-title-link {
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #009EFF;
    text-decoration: none;
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
    margin-bottom: -2px;
}

.blog-title-link:hover {
    opacity: 0.8;
    color: #009EFF;
}
.tags-div{
    padding: 10px 0 10px 0;
}
.button-div {
    text-align: right;
}

.blog-button {
    padding: 4px;
}