.post-wrapper {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
}

.blog-image {
    display: block;
    height: 180px;
    margin-right: 20px;
    border-radius: 3px;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}

.blog-image:hover {
    opacity: 0.8;
}

.post-content {
    padding: 10px;
}

.post-summary {
    display: inline;
    color: #aaa;
    font-size: 14px;
    line-height: 22px;
    
}

.post-info {
    display: inline-block;
    margin-right: 8px;
    color: #aaa;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.post-info.when-link {
    text-decoration: none;
}

.post-info.when-link:hover {
    color: #333;
}

.blog-title-link {
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #333;
    text-decoration: none;
}

.blog-title-link:hover {
    opacity: 0.8;
}