<div class="card post-card" *ngFor="let blogCard of blogCardList">
    <div class="row no-gutters ">
        <div class="col-md-4" style="background: #868e96;">
            <img src="{{blogCard.blogPic}}" class="card-img-top h-100" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body ">
                <div class="w-col w-col-8 w-col-medium-8">
                    <div>
                        <a href="/posts/cafe-au-lait-turkish-doppio-ristretto">
                            <h5 class="blog-title blog-title-link">{{blogCard.title}}</h5>
                        </a>
                    </div>
                    <div class="details-wrapper">
                        <div class="clearfix entry-meta">
                            <ul>
                                <li class="author"> <i class="fa fa-user"></i> <a
                                        href="https://demo.themeum.com/wordpress/prolog/?author=1"
                                        title="Posts by admin" rel="author">admin</a></li>

                                <li class="publish-date"><i class="fa fa-calendar"></i><time class="entry-date"
                                        datetime="2014-08-12T07:35:55+00:00">{{blogCard.createdDate}}</time></li>
                                <li class="tag"><i class="fa fa-tags"></i>
                                    <a href="" rel="tag" *ngFor="let tagObj of blogCard.tagData">{{tagObj}}<span>,</span></a>
                                </li>
                                <li class="comments-link">
                                    <i class="fa fa-comments-o"></i> <a
                                        href="https://demo.themeum.com/wordpress/prolog/?p=44#comments">5 comments</a>
                                </li>


                            </ul>
                        </div>

                    </div>
                    <div class="post-summary-wrapper">
                        <p class="post-summary">{{blogCard.previewText}}</p>
                    </div>

                    <div class="button-div">
                        <button type="button " class="btn btn-primary blog-button">Read More <i
                                class="fa fa-arrow-circle-right "></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>